
.body1 {
    font-family: "Times New Roman", Times, serif;
    background-color: #34923a;
    color: #ffffff;
    line-height: 1.6;
}

.body1 p {
  font-size: 25px;
  margin-top: 10px;
  margin: 20px
}

.header {
    background: #0b440f;
    border-bottom: 2px solid #bdae4e;

    padding: 20px 40px;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: sticky;
}

footer {
  width: 100%;
  background-color: #0b440f;
  border-top: 3px solid #bdae4e;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

}

.body2 {
    font-family: "Times New Roman", Times, serif;
    background-color: #3ba8e7;
    color: #143a50;
    line-height: 1.6;
} 

.body2 p {
  font-size: 25px;
  margin-top: 10px;
  margin: 20px

}

.body2 h2{
  font-size: 30px;
  margin: 40px
}

.header2 {
    background: #182086;
    border-bottom: 2px solid #bdae4e;
    padding: 20px 40px; 
}



.body3{
    font-family: "Times New Roman", Times, serif;
    background-color: #9440e9;
    color: #510080;
    line-height: 1.6;
}
.header3{
    background: #2c1249;
    border-bottom: 2px solid #bdae4e;
    padding: 20px 40px;
}




.body4{
    font-family: "Times New Roman", Times, serif;
    background-color: #d8ad36;
    color: #996117;
    line-height: 1.6;
}
.header4{
    background: #9e770d;
    border-bottom: 2px solid #bdae4e;
    padding: 20px 40px;
}




.body5{
    font-family: "Times New Roman", Times, serif;
    background-color: #bd1c1c;
    color: #742626;
    line-height: 1.6;
}
.header5{
    background: #5a1919;
    border-bottom: 2px solid #bdae4e;
    padding: 20px 40px;
}



.web-name h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.tagline {
    font-size: 1.5rem;
    color: #ffffff;
}

.body {
  margin: 0;
  padding: 0;
}



.nav a {
  display: block;
  color: hsl(0, 0%, 100%);
  padding: 24px 26px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #111111;
}

.store-name {
    text-align: center;
}

.img{
  display: block;
  margin: 20px;
}


.accordion {

  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 2px solid #022905;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  background-color: #61a16a; 
}


.active, .accordion:hover {
  background-color: #b586db; 
}

.panel  {
  padding: 0 18px;
  display: none;
  background-color: #1f791c;
  overflow: hidden;
}

.panel p{
    font-size: 20px;
    color: black;
}

.cassie {
padding: 0 18px;
  display: none;
  background-color: hsl(24, 100%, 65%);
  overflow: hidden;
}

.dean {
padding: 0 18px;
  display: none;
  background-color: #ff4444;
  overflow: hidden;
}

.micheal {
padding: 0 18px;
  display: none;
  background-color: #1b37d8;
  overflow: hidden;
}

.lia {
padding: 0 18px;
  display: none;
  background-color: #3bffef;
  overflow: hidden;
}

.solane {
padding: 0 18px;
  display: none;
  background-color: #f157ff;
  overflow: hidden;
}